@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800;900&family=Source+Sans+Pro:wght@300&display=swap');

/* bannerメインここから */
.bannerMainImage {
  margin: 0 auto;
  width: 100%;
  height: 40vh;
  background-image: url(../img/web.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.bannerMainImage .bannerMainText h3 {
  position: absolute;
  top: 50%;
  left: 7%;
  font-size: 26px;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;
  color: 	#333;
}
/* bannerメインここまで */

/* bannerItemsここから */
.bannerWrap {
  max-width: 1100px;
  width: 100%;
  margin: 60px auto;
}
.bannerItems {
  padding: 2%;
  width: 100%;
  display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
  flex-wrap: wrap;
}
.bannerItems li{
  width: 33%;
  padding: 2%;
}
.bannerItems li img{
  width: 100%;
  margin: 0 auto;
  display: block;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
  transition: 0.4s;
}


/* モーダル js */
.modalBox {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 5;
  transition: 0.4s;
  
  opacity: 0;
  visibility: hidden;
}
.modalBox.closed {
  opacity: 0;
  visibility: hidden;
}
.modalBox.open {
  opacity: 1;
  visibility: visible;
}

.modalContents {
  max-width: 800px;
  width: 100%;  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}
.modalContents img{
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  padding: 2%;
}
.modalClose {
  font-size: 30px;
  color: #f5f5f5;
  cursor: pointer;
  text-align: right;
  padding-right: 3%;
}

/* bannerItemsここまで */
/* マウスホバー */
@media screen and (min-width: 768px) {

}


/* レスポンシブここから */
@media screen and (max-width: 768px){
  .bannerMainImage .bannerMainText h3 {
    left: 10%;
  }
  .bannerItems {
    padding: 1%;
  }
  .bannerItems li{
    width: 50%;
    margin-top: 15px;
  }
}


@media screen and (max-width: 468px) {
  .bannerMainImage {
    height: 60vh;
  }
  .bannerMainImage .bannerMainText h3 {
    left: 17%;
  }
  .bannerItems li{
    width: 100%;
    margin-top: 20px;
  }
}
